body {
    padding: 10%;
    font-size: 1rem;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: brown;
}

a:active {
    color: green;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    color: cornflowerblue;
    /* list-style-image: url(../img/checkbox.png); */
}

ul li:nth-child(2) {
    color: brown;
}

ol li::marker{
    color:rgb(35, 192, 249) ;
    font-size: 1.7em;
}