

h1{
    width: 50%; 
    border: #1C5787 dashed 2px;
    font-size: 3rem;
    padding: 0.5em;
}

body {
    color: #323232;
    background-color: #fcfeff;
   
}

p {
    color: #1C5787;
    font-size: 1rem;
    width: 40ch;
}